*~
*_log.txt
*.dat
madgraph/*/SubProcesses/*/*
madgraph/*/SubProcesses/*
madgraph/*/SubProcesses
madgraph/py.py
madgraph/*/HTML
*.html
*.gz
*.lhe
*.root
python/__pycache__
\#*
.\#*
\#*\#
*.pyc
*.pdf
*.pkl
*/*/ROOTHelp
